body {
  background-color: #32363a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  padding: 15px 5px 0 5px;
  margin: 10px;
  background-color: white;
  cursor: grab;
}

.cardField {
  border: none;
  overflow-y: hidden;
  overflow-wrap: break-word;
  width: 100%;
  resize: none;
  outline: none;
}

.column {
  width: 28%;
  margin: 25px;
  background-color: #d6dee3;
  border-radius: 3px;
  height: fit-content;
}

.addNewColumn {
  background-color: #d6dee3;
  height: 130px;
  padding: 10px;
  margin: 25px;
}

.addColumnTitle {
  margin: 0;
  color: #2f2e2e;
}

.input {
  margin: 30px 0;
}

.addCardButton {
  margin: 5px;
}

.column__header {
  padding: 12px;
  margin-top: 0;
  cursor: default;
}

.titleWrapper {
  background-color: #adadad;
  height: 50px;
  line-height: 50px;
}

.title {
  color: #2f2e2e;
  padding-left: 10px;
  margin: 0;
  text-align: center;
  display: inline-block;
}

.inputTitle {
  width: 50%;
  margin-left: 10px;
  display: inline-block;
}

.editTitleButton {
  float: right;
}